// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


// a trier dans des fichiers CSS plus tard
body {
  background-color: transparent;
}

// HOME PAGE
#home-page-banner {
  background-image: asset-url("cinema.png");
  background-size: cover;
  height: 500px;
  text-align: center;
  align-content: center;
}

//LISTS INDEX
.card-movie-body {
  background-image: asset-url("cinema_ticket.png");
  background-size: cover;
}

// list SHOW
#list-show-banner {
  background-image: asset-url("cinema.png");
  background-size: cover;
  height: 200px;
  text-align: center;
  align-content: center;
  color: white;
  font-weight: bold;
}
